body {
    margin: auto;
    width: 100%;
    background: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}
header {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    height: 72px;
    width: 100%;
    position: fixed;
    display: block;
    flex-direction: row;
    align-self: flex-start;
    margin-top: -72px;
}
button {
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}
.logo {
    align-items: center;
    margin-top: 10px;
}
.enter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: -29px;
    
}
.hidden-xs {
    margin-left: 25px;
}
.background {
    display: flex;
    background-image: url(Restaurant%20/new/tacobell.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 364px;
    margin-top: 72px;
}
.pushkincard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 389px;
    height: 204px;
    left: 81px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;

}
.pushkincard>.title {
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pushkincard>.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.pushkincard>.row>.pricing {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    width: 172px;
}
.pushkincard>.row>.time {
    width: 100px;
    height: 32px;
    background: #262626;
    border-radius: 16px;
    font-size: 13px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}
.menuheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.2);
    height: 80px;
    align-items: center;
}
@media(max-width: 575px) { .menuheader {display: none; }
}
.menuheader>.container>a {
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    text-decoration: none;
    margin-right: 20px;
}
.menuheader>.container>a>span {
    color: #327430;
    margin-left: -20px;
    
}
.zakuski {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
}

.menu>.container>.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-around;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: row;
    flex-basis: 48%;
    margin-bottom: 49px;
    justify-content: space-between;
    height: 160px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
}
@media(max-width: 991px) { .card { margin-bottom: 32px; flex-basis:  100%;}
}
@media(max-width: 575px) { .card { margin-bottom: 0px; flex-basis:  100%;}
}
.dish {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
}
.card>img {
    display: flex;
    margin-right: -8px;

}
.food_name {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.food_trait {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
}
.food_cost {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #262626;
}
@media(min-width: 321px) {
    footer {
        height: 862px;
    }
    .row_links {
        height: 164px;
    }
}
@media(min-width: 768px) {
    footer {
        height: 552px;
    }
    .row_links {
        height: 164px;
    }
}
footer>.container>img {
    padding-top: 56px;
    padding-bottom: 40px;
}
.row_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    height: auto;
    justify-content: center;
}
.link1>.lang {
    display: flex;
    flex-direction: row;
    width: 227px;
    height: 40px;
    background: #3B3B3B;
    border-radius: 2px;
}
.link1>.lang>img {
    margin-left: 10px;
    margin-right: 10px;
}
select {
    background: #3B3B3B;
    border-radius: 2px;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    width: 100%;
    border: none;
}
.social>p {
    color: white;
    margin-top: 33px;
    margin-bottom: 16px;
}
.social>p>span {
    color: #49A144;
}
.link2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.link2>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
}
.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app>a {
    margin-bottom: 20px;
    padding-right: 40px;
}
.prava {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.prava>a {
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    color: #FFFFFF;
    height: 40px;
}
footer>.container>hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    size: 1px;
    margin: 0;
    margin-bottom: 32px;
}
.button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 24px;
    right: 16px;
}